.contenido {
	background-color   : white;
    margin             : auto;
    width              : 100%;
    max-width          : 1280px;
    #contenido_up {
    	#que_es {
	        width: 100%;
		    display: -webkit-flex;
		    display: flex;
		    background-image: url("../images/texturas/marmol_small.png");
		    background-position: center center;
    		#parrafo {
    			width: 50%;
		    	padding-bottom: 11rem;
			    #titulo {
    				margin: 0;
    				p {
    					text-align: left;
    					margin: 2.45rem 0 3.1rem 6.2rem;
    				}
    				&:before {
    					height: 80%;
    					top: 60%;
    				}
    			}
    			#texto {
				    display: none;
				    margin: -1.875rem 1.875rem 2.45rem 4.4rem;
				    font-weight: 300;
				    font-style: italic;
				    font-size: 1.25rem;
				    hr {
					    margin-top: 2.45rem;
					    width: 3.75rem;
					    height: 0.25rem;
					    margin-left: 0;
					    background-color: $gris_centros;
				    }
    			}
    		}
    		#pattern_logo {
    			width: 50%;
    			height: inherit;
    			#pattern {
    				width: 100%;
    				height: 20%;
    				background       : url('../images/pattern.png');
    				background-repeat: repeat;
    			}
    			#svg_logo {
				    display: flex;
				    height: 80%;
    				svg {
					    margin: auto;
    					width: 15%;
    					fill: rgba(172, 228, 249, 1);
    				}
    			}
    		}
    	}
    	#imagen_procedimiento_header {
            width           : 100%;
            max-width       : 1280px;
            height          : 100%;
            text-align      : left;
            margin: -10.9375rem 0 0 0;
            #titulo_procedimientos {
            	width: 60%;
            	vertical-align: bottom;
            	&:before {
            		top     : 54%;
            		height  : 80%;
            		left	: 7rem;
				    @media screen and (min-width: $max_ipad_mediaquery) {
				        left: 9.375rem;
				    }
            	}
            	&:hover {
            		&:before {
            			left: 95%;
					    @media screen and (min-width: $max_ipad_mediaquery) {
					        left: 100%;
					    }
            		}
            	}
            }
            #imagen {
            	width: 39%;
            	img {
			        width: 15rem;
				    @media screen and (min-width: $ipad_mediaquery) {
				        width: 25rem;
				    }
				    @media screen and (min-width: $max_ipad_mediaquery) {
				        width: 29.25rem;
				    }
            	}
            }
            div {
                display       : inline-block;
                height        : 100%;
                margin: 0;
                p {
                	margin: 0 3.125rem 0 0;
    				text-align: right;
				    @media screen and (min-width: $max_ipad_mediaquery) {
				        margin-right: 4.4rem;
				    }
    			}
            }
            img {
                vertical-align: middle;
            }
    	}
    }
    #procedimientos_hidden {
    	display: none;
    	border-top : 0.375rem solid $color-cefaleas-amarillo;
	    #contenido_procedimientos {
	    	display: flex;
	    	position: relative;
	    	width: 100%;
			padding: 2.2rem 0 2.2rem 0;
			#isotipo_procedimientos {
				float: left;
			    margin: auto;
			    text-align: center;
			    width: 49%;
			    height: 100%;
			    img {
				    vertical-align: middle;
			    }
			}
			#descripcion_procedimientos {
			    float: right;
			    width: 49%;
				ul {
					margin: 0 2.2rem 0 0;
					font-weight: 400;
					font-style : normal;
					font-size: 1.3rem;
				    @media screen and (min-width: $max_ipad_mediaquery) {
				        margin-right: 4.4rem;
				    }
				}
			}
	    }
	}
	#contenido_down {
		position: relative;
		border-top: 0.375rem solid $color-cefaleas-amarillo;
		width: 100%;
		height: 20rem;
	    @media screen and (min-width: $max_ipad_mediaquery) {
	        margin-right: 29.5625rem;
	    }
		#contenido_contacto {
			position: absolute;
    		bottom: 0;
			float: left;
		    width: 100%;
		    margin: 0;
			p {
				text-align: center;
    			margin: 1.25rem 0;
				@media screen and (max-width: ($ipad_mediaquery)-1) {
					font-size: 2.5rem;
	    		}
			}
		    @media screen and (min-width: $ipad_mediaquery) {
		        width: 50%;
				p {
					text-align: left;
					margin: 2.75rem 0 2.75rem 6.25rem;
				}
		    }
		}
		#imagen_procedimiento {
			float: right;
		    width: 100%;
		    height: 99%;
			background-image: url("../images/cefaleas/procedimientos_cefaleas.png");
		    background-position: center center;
		    background-size    : cover;
		    @media screen and (min-width: $ipad_mediaquery) {
		        width: 50%;
		    	height: 100%;
		    }
		}
	}
}

.title{
	text-align: center;
	position: relative;
	font-family: Big Caslon Medium;
	font-size: 2.2rem;
	color: $gris_centros;
	margin-top: 3.1rem;
	margin-bottom: 6.2rem;
	&:before {
			content: "";
		    position: absolute;
		    left : 4.4rem;
		    top: 50%;
		    transform: translateY(-60%);
		    width: 0.4375rem;
		    height: 40%;
			background: $color-cefaleas-amarillo;
			transition:ease 1s;
		}
	&:hover{
		&:before{
			left: 85%;
		}
	}
    @media screen and (min-width: $ipad_mediaquery) {
        font-size: 2.75rem;
    }
    @media screen and (min-width: $max_ipad_mediaquery) {
        font-size: 4.9rem;
    }
}