.contenido {
	background-color   : white;
    margin             : auto;
    width              : 100%;
    max-width          : 1280px;
    #contenido_up {
    	#que_es {
	        width: 100%;
		    display: -webkit-flex;
		    display: flex;
		    flex-direction: column;
		    background-image: url("../images/texturas/marmol_small.png");
		    background-position: center center;
    		#parrafo {
    			order: 2;
    			width: 99%;
		    	padding-bottom: 11rem;
			    #titulo {
    				margin: 0;
    				p {
    					text-align: left;
    					margin: 2.45rem 0 3.1rem 6.2rem;
    				}
    				&:before {
    					height: 80%;
    					top: 60%;
    				}
    			}
    			#texto {
				    display: none;
				    margin: 0px 2rem 50px;
				    font-weight: 300;
				    font-style: italic;
				    font-size: 1.25rem;
				    hr {
					    margin-top: 2.45rem;
					    width: 3.75rem;
					    height: 0.25rem;
					    margin-left: 0;
					    background-color: $gris_centros;
				    }
    			}
    		}
    		#pattern_logo {
    			order: 1;
    			width: 100%;
    			height: inherit;
    			#pattern-1 {
    				display: none;
    			}
    			#svg_logo {
				    display: flex;
				    height: 80%;
    				svg {
					    margin: auto;
    					width: 15%;
    					fill: rgba(172, 228, 249, 1);
    				}
    			}
    		}
		    @media screen and (min-width: $ipad_mediaquery) {
		        flex-direction: row;
		        #parrafo {
		        	order: 1;
		        	width: 50%;
		        	#texto {
				    	margin: -1.875rem 1.875rem 2.45rem 4.4rem;
		        	}
		        }
		        #pattern_logo {
		        	order: 2;
    				width: 50%;
	    			#pattern-1 {
	    				display: inline-block;
	    			}
		        }
		    }
    	}
    	#imagen_procedimiento_header {
            width           : 100%;
            max-width       : 1280px;
            height          : 100%;
            text-align      : left;
            margin: -14.25rem 0 0 0;
            #imagen {
            	width: 39%;
            	img {
			        width: 15rem;
				    @media screen and (min-width: $ipad_mediaquery) {
				        width: 25rem;
				    }
				    @media screen and (min-width: $max_ipad_mediaquery) {
				        width: 29.25rem;
				    }
            	}
            }
            #pattern-2 {
            	display: inline-block;
			    @media screen and (min-width: $ipad_mediaquery) {
			        display: none;
			    }
            }
            #titulo_procedimientos {
            	width: 100%;
            	vertical-align: bottom;
    			//border-top : 0.375rem solid $color-cefaleas-amarillo;
			    @media screen and (min-width: $ipad_mediaquery) {
			        width: 60%;
    				border-top : none;
			    }
            	&:before {
            		top     : 54%;
            		height  : 40%;
            		left 	: 4rem;
				    @media screen and (min-width: $ipad_mediaquery) {
			        	height  : 40%;
            			top     : 25%;
            			left	: 7rem;
				    }
				    @media screen and (min-width: $max_ipad_mediaquery) {
            			top     : 30%;
				        left: 9.375rem;
				    }
            	}
            	&:hover {
            		&:before {
            			left: 95%;
					    @media screen and (min-width: $max_ipad_mediaquery) {
					        left: 100%;
					    }
            		}
            	}
            }
            div {
                display       : inline-block;
                height        : 100%;
                margin: 0;
                p {
    				text-align: center;
				    @media screen and (min-width: $ipad_mediaquery) {
				        text-align: right;
                		margin: 0 3.125rem 5rem 0;
				    }
				    @media screen and (min-width: $max_ipad_mediaquery) {
				        margin-right: 4.4rem;
				    }
    			}
            }
            img {
                vertical-align: middle;
            }
		    @media screen and (min-width: $max_ipad_mediaquery) {
		        margin-top: -10.9375rem;
		    }
    	}
    }
    #procedimientos_hidden {
    	display: none;
    	border-top : none;
	    @media screen and (min-width: $ipad_mediaquery) {
	        margin-right: 4.4rem;
    		border-top : 0.375rem solid $color-cefaleas-amarillo;
	    }
	    #contenido_procedimientos {
	    	position: relative;
	    	width: 100%;
			padding: 0 0 2.2rem 0;
		    display: flex;
    		flex-direction: column-reverse;
			#isotipo_procedimientos {
				float: none;
			    margin: auto;
			    margin-top: 1.5rem;
			    text-align: center;
			    width: 49%;
			    height: 100%;
			    img {
				    vertical-align: middle;
				    @media screen and (max-width: $ipad_mediaquery - 1px) {
				        max-width: 6.25rem;
				    }
			    }
			}
			#descripcion_procedimientos {
			    float: none;
			    width: 99%;
				ul {
					margin: 0 2.2rem 0 0;
					font-weight: 400;
					font-style : normal;
				    @media screen and (min-width: $ipad_mediaquery) {
				        font-size: 1.3rem;
				    }
				    @media screen and (min-width: $max_ipad_mediaquery) {
				        margin-right: 4.4rem;
				    }
				}
			}
		    @media screen and (min-width: $ipad_mediaquery) {
		        display: flex;
    			flex-direction: row;
				padding: 2.2rem 0 2.2rem 0;
		        #isotipo_procedimientos {
		        	float: left;
		        	margin-top: auto;
		        }
		        #descripcion_procedimientos {
		        	float: right;
			    	width: 49%;
		        }
		    }
	    }
	}
	#contenido_down {
		position: relative;
		border-top: 0.375rem solid $color-cefaleas-amarillo;
		width: 100%;
		height: 20rem;
		#contenido_contacto {
			position: absolute;
    		bottom: 0;
			float: left;
		    width: 100%;
		    margin: 0;
		    &:before {
				@media screen and (max-width: ($ipad_mediaquery) - 1px) {
					left: 1rem;
	    		}
		    }
			p {
				text-align: left;
    			margin: 1.25rem 10%;
				@media screen and (max-width: ($ipad_mediaquery) - 1px) {
					font-size: 2.5rem;
	    		}
			}
		    @media screen and (min-width: $ipad_mediaquery) {
		        width: 50%;
				p {
					text-align: center;
					margin: 2.75rem 0;
				}
		    }
		}
		#imagen_procedimiento {
			float: right;
		    width: 100%;
		    height: 99%;
			background-image: url("../images/cefaleas/procedimientos_cefaleas.png");
		    background-position: center center;
		    background-size    : cover;
		    @media screen and (min-width: $ipad_mediaquery) {
		        width: 50%;
		    	height: 100%;
		    }
		}
	}
}

.pattern-cefaleas {
	width: 100%;
	height: 7.5vh !important;
	background       : url('../images/pattern.png');
	background-repeat: repeat;
    @media screen and (min-width: $ipad_mediaquery) {
    	height: 20% !important;
    }
}

.title-cefaleas-vascular{
	text-align: center;
	position: relative;
	font-family: Big Caslon Medium;
	font-size: 2.2rem;
	color: $gris_centros;
	margin-top: 3.1rem;
	margin-bottom: 6.2rem;
	&:before {
			content: "";
		    position: absolute;
		    left : 4.4rem;
		    top: 50%;
		    transform: translateY(-60%);
		    width: 0.4375rem;
		    height: 40%;
			background: $color-cefaleas-amarillo;
			transition:ease 1s;
		}
	&:hover{
		&:before{
			left: 85%;
		}
	}
    @media screen and (min-width: $ipad_mediaquery) {
        font-size: 2.75rem;
    }
    @media screen and (min-width: $max_ipad_mediaquery) {
        font-size: 4.9rem;
    }
}