// CLASES PARA COLORES DE CENTROS.
//Hay dos clases, una para textos, otra para fondos
//Negro y Gris son comunes para todos, esos seguirán en _.vars.scss
//CEFÁLEAS Y MIGRAÑAS
.color-cefaleas-amarillo { color: rgba(210, 144, 50, 1); }
.color-cefaleas-naranja { color: rgba(243, 110, 9, 1); }
.color-cefaleas-menta { color: rgba(218, 241, 254, 1); }
.color-fondo-cefaleas-amarillo { background-color: rgba(210, 144, 50, 1); }
.color-fondo-cefaleas-naranja { background-color: rgba(243, 110, 9, 1); }
.color-fondo-cefaleas-menta { background-color: rgba(218, 241, 254, 1); }
.hero-banner-cefaleas-background{ background-image   : url("../images/cefaleas/inicio_cefaleas.png"); }

//COLUMNA  VERTEBRAL
$color-columna-azul : rgba(152, 171, 194, 1);
$color-columna-gris : rgba(176, 178, 180, 1);
.color-columna-azul { color: $color-columna-azul; }
.color-columna-gris { color: $color-columna-gris; }
.color-fondo-columna-azul { background-color: $color-columna-azul; }
.color-fondo-columna-gris { background-color: $color-columna-gris; }
.hero-banner-columna-background{ background-image   : url("../images/columna/inicio_columna.png"); }


//NEUROCIRUGÍA PEDIÁTRICA
.color-neurocirugia-verde { color: rgba(150, 189, 14, 1); }
.color-neurocirugia-limon { color: rgba(217, 229, 131, 1); }
.color-fondo-neurocirugia-verde { background-color: rgba(150, 189, 14, 1); }
.color-fondo-neurocirugia-limon { background-color: rgba(217, 229, 131, 1); }
.hero-banner-neurocirugia-background{ background-image   : url("../images/neurocirugia/inicio_neurocirugia_pediatrica.png"); }

//NEURO ONCOLOGÍA
.color-neuroncologia-azul { color: rgba(63, 157, 200, 1); }
.color-neuroncologia-menta { color: rgba(127, 204, 255, 1); }
.color-neuroncologia-crema { color: rgba(255, 229, 198, 1); }
.color-fondo-neuroncologia-azul { background-color: rgba(63, 157, 200, 1); }
.color-fondo-neuroncologia-menta { background-color: rgba(127, 204, 255, 1); }
.color-fondo-neuroncologia-crema { background-color: rgba(255, 229, 198, 1); }
.hero-banner-neuroncologia-background{ background-image   : url("../images/neuroncologia/inicio_neuroncologia.png"); }

//PARKINSON
.color-parkinson-cafe { color: rgba(120, 104, 84, 1); }
.color-parkinson-crema { color: rgba(201, 186, 156, 1); }
.color-fondo-parkinson-cafe { background-color: rgba(120, 104, 84, 1); }
.color-fondo-parkinson-crema { background-color: rgba(201, 186, 156, 1); }
.hero-banner-parkinson-background{ background-image   : url("../images/parkinson/inicio_parkinson.png"); }

//VASCULAR CEREBRAL
.color-vascular-rojo { color: rgba(166, 2, 45, 1); }
.color-fondo-vascular-rojo { background-color: rgba(166, 2, 45, 1); }
.hero-banner-vascular-background{ background-image   : url("../images/vascular/inicio_vascular.png"); }