// CLASES PARA COLORES DE CENTROS.
//Hay dos clases, una para textos, otra para fondos
//Negro y Gris son comunes para todos, esos seguirán en _.vars.scss
//CEFÁLEAS Y MIGRAÑAS
$color-cefaleas-amarillo 		 : rgba(241, 147, 0, 1);
$color-cefaleas-naranja 		 : rgba(243, 110, 9, 1);
$color-cefaleas-menta 			 : rgba(218, 241, 254, 1);
.color-cefaleas-amarillo 	     { color: $color-cefaleas-amarillo;  }
.color-cefaleas-naranja 	     { color: $color-cefaleas-naranja; }
.color-cefaleas-menta 		     { color: $color-cefaleas-menta; }
.color-fondo-cefaleas-amarillo   { background-color: $color-cefaleas-amarillo;  }
.color-fondo-cefaleas-naranja    { background-color: $color-cefaleas-naranja; }
.color-fondo-cefaleas-menta      { background-color: $color-cefaleas-menta; }
.color-formulario-cefaleas {
	color 						 : $negro_centros !important;
	background-color			 : rgba(233, 233, 234, 1) !important;
	&::-webkit-input-placeholder { color: $negro_centros !important; } /* WebKit */
	&:-moz-placeholder 			 { color: $negro_centros !important; } /* Firefox 18- */
	&::-moz-placeholder 		 { color: $negro_centros !important; } /* Firefox 19+ */
	&:-ms-input-placeholder 	 { color: $negro_centros !important; } /* IE 10+ */
}
.hero-banner-cefaleas-background {
	background-image   : url("../images/cefaleas/inicio_cefaleas.png");
	background-position: center center;
}
.svg-fill-cefaleas{
    svg{
        fill: $color-cefaleas-amarillo;
    }
}
.border-color-cefaleas 			{ border-color:  $color-cefaleas-menta; }
.border-color-cefaleas-amarillo	{ border-color:  $color-cefaleas-amarillo !important; }
.button-cefaleas 				{ background: $color-cefaleas-amarillo; }
.border-item-cefaleas 			{ border-left   : solid 5px $color-cefaleas-amarillo; }

//COLUMNA  VERTEBRAL
$color-columna-azul : rgba(152, 171, 194, 1);
$color-columna-gris : rgba(176, 178, 180, 1);
$color-logo-jr		: rgba(193, 193, 195, 1);
.color-columna-azul { color: $color-columna-azul; }
.color-columna-gris { color: $color-columna-gris; }
.color-fondo-columna-azul { background-color: $color-columna-azul; }
.color-fondo-columna-gris { background-color: $color-columna-gris; }
.hero-banner-columna-background{
	background-image   : url("../images/columna/inicio_columna_alta_calidad.png");
	background-position: right center;
}


//NEUROCIRUGÍA PEDIÁTRICA
$color-neurocirugia-verde : rgba(150, 189, 14, 1);
.color-neurocirugia-verde { color: $color-neurocirugia-verde; }
.color-neurocirugia-limon { color: rgba(217, 229, 131, 1); }
.color-fondo-neurocirugia-verde { background-color: rgba(150, 189, 14, 1); }
.color-fondo-neurocirugia-limon { background-color: rgba(217, 229, 131, 1); }
.hero-banner-neurocirugia-background{ background-image   : url("../images/neurocirugia/inicio_neurocirugia_pediatrica.png"); }

//NEURO ONCOLOGÍA
$color-neuroncologia-azul : rgba(63, 157, 200, 1);
.color-neuroncologia-azul { color: $color-neuroncologia-azul; }
.color-neuroncologia-menta { color: rgba(127, 204, 255, 1); }
.color-neuroncologia-crema { color: rgba(255, 229, 198, 1); }
.color-fondo-neuroncologia-azul { background-color: rgba(63, 157, 200, 1); }
.color-fondo-neuroncologia-menta { background-color: rgba(127, 204, 255, 1); }
.color-fondo-neuroncologia-crema { background-color: rgba(255, 229, 198, 1); }
.hero-banner-neuroncologia-background{ background-image   : url("../images/neuroncologia/inicio_neuroncologia.png"); }

//PARKINSON
.color-parkinson-cafe { color: rgba(120, 104, 84, 1); }
.color-parkinson-crema { color: rgba(201, 186, 156, 1); }
.color-fondo-parkinson-cafe { background-color: rgba(120, 104, 84, 1); }
.color-fondo-parkinson-crema { background-color: rgba(201, 186, 156, 1); }
.hero-banner-parkinson-background{ background-image   : url("../images/parkinson/inicio_parkinson.png"); }

//VASCULAR CEREBRAL
$color-vascular-rojo 		 	 : rgba(166, 2, 45, 1);
$color-vascular-tinto 		 	 : rgba(82, 2, 21, 1);
$color-vascular-gris 		 	 : rgba(214, 213, 215, 1);
.color-vascular-rojo 			 { color: $color-vascular-rojo; }
.color-vascular-tinto 			 { color: $color-vascular-tinto; }
.color-vascular-gris 			 { color: $color-vascular-gris; }
.color-fondo-vascular-rojo  	 { background-color: $color-vascular-rojo; }
.color-fondo-vascular-tinto 	 { background-color: $color-vascular-tinto; }
.color-fondo-vascular-gris       { background-color: $color-vascular-gris; }
.color-formulario-vascular {
	color 						 : $negro_centros !important;
	background-color			 : rgba(233, 233, 234, 1) !important;
	&::-webkit-input-placeholder { color: $negro_centros !important; } /* WebKit */
	&:-moz-placeholder 			 { color: $negro_centros !important; } /* Firefox 18- */
	&::-moz-placeholder 		 { color: $negro_centros !important; } /* Firefox 19+ */
	&:-ms-input-placeholder 	 { color: $negro_centros !important; } /* IE 10+ */
}
.hero-banner-vascular-background {
	background-image   			 : url("../images/vascular/inicio_vascular.png");
	background-position			 : center center;
}
.svg-fill-vascular{
    svg{
        fill 					 : $color-vascular-rojo;
    }
}
.border-color-vascular 			 { border-color:  $color-vascular-gris; }
.border-color-vascular-rojo		 { border-color:  $color-vascular-rojo !important; }
.button-vascular 				 { background: $color-vascular-rojo; }
.border-item-vascular 			 { border-left   : solid 5px $color-vascular-rojo; }