// CLASES PARA COLORES DE CENTROS.
//Hay dos clases, una para textos, otra para fondos. Negro y Gris son comunes para todos
//CEFÁLEAS Y MIGRAÑAS
.color-cefaleas-amarillo { color: rgba(210, 144, 50, 1); }
.color-cefaleas-naranja { color: rgba(243, 110, 9, 1); }
.color-cefaleas-menta { color: rgba(218, 241, 254, 1); }
.color-fondo-cefaleas-amarillo { background-color: rgba(210, 144, 50, 1); }
.color-fondo-cefaleas-naranja { background-color: rgba(243, 110, 9, 1); }
.color-fondo-cefaleas-menta { background-color: rgba(218, 241, 254, 1); }

//COLUMNA  VERTEBRAL
.color-columna-azul { color: rgba(152, 171, 194, 1); }
.color-columna-gris { color: rgba(176, 178, 180, 1); }
.color-fondo-columna-azul { background-color: rgba(152, 171, 194, 1); }
.color-fondo-columna-gris { background-color: rgba(218, 241, 254, 1); }

//NEUROCIRUGÍA PEDIÁTRICA
.color-columna-verde { color: rgba(152, 171, 194, 1); }
.color-columna-limon { color: rgba(217, 229, 131, 1); }
.color-fondo-columna-verde { background-color: rgba(152, 171, 194, 1); }
.color-fondo-columna-limon { background-color: rgba(217, 229, 131, 1); }

//NEURO ONCOLOGÍA
.color-cefaleas-azul { color: rgba(63, 157, 200, 1); }
.color-cefaleas-menta { color: rgba(127, 204, 255, 1); }
.color-cefaleas-crema { color: rgba(255, 229, 198, 1); }
.color-fondo-cefaleas-azul { background-color: rgba(63, 157, 200, 1); }
.color-fondo-cefaleas-menta { background-color: rgba(127, 204, 255, 1); }
.color-fondo-cefaleas-crema { background-color: rgba(255, 229, 198, 1); }

//PARKINSON
.color-cefaleas-cafe { color: rgba(120, 104, 84, 1); }
.color-cefaleas-crema { color: rgba(201, 186, 156, 1); }
.color-fondo-cefaleas-cafe { background-color: rgba(120, 104, 84, 1); }
.color-fondo-cefaleas-crema { background-color: rgba(201, 186, 156, 1); }

//VASCULAR CEREBRAL
.color-cefaleas-rojo { color: rgba(166, 2, 45, 1); }
.color-fondo-cefaleas-rojo { background-color: rgba(166, 2, 45, 1); }

//NEGRO Y GRIS
.color-centros-gris { color: rgba(152, 153, 155, 1); }
.color-centros-negro { color: rgba(64, 65, 66, 1); }
.color-fondo-centros-gris { background-color: rgba(152, 153, 155, 1); }
.color-fondo-centros-negro { background-color: rgba(64, 65, 66, 1); }