#contacto {
    width   : 100%;
    position: relative;
    clear   : both;
    .banner {
        img {
            width: 100%;
        }
        p {
            left          : 10%;
            bottom        : 10%;
            font-family   : Caslon;
            color         : white;
            position      : absolute;
            /* display: inline-block; */
            border-left   : solid 5px #9e8629;
            padding       : 0 30px;
            font-size     : 7vw;
            letter-spacing: 2px;
            @media screen and (max-width: $ipad_mediaquery - 1) {
                bottom           : 64%;
                border-left-width: 0;
            }
        }
    }
}
.address {
    width     : 100%;
    margin    : 0;
    text-align: right;
    font-size : 1.5rem;
    @media screen and (min-width: 768px) {
        margin: 40px 60px 0 0;
        float : right;
        width : 44%;
    }
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
        margin-right: 0;
        font-size   : 1.2rem;
    }
    @media screen and (max-width: $ipad_mediaquery - 1) {
        line-height: 1.7;
    }
    i,
    p {
        margin: 10px 3%;
    }
    .banner_logo {
        height       : 200px;
        border-style : solid;
        border-width : 0 0 3px 0;
        width        : 90%;
        float        : right;
        margin-bottom: 30px;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            height: 150px;
        }
        @media screen and (max-width: $ipad_mediaquery - 1) {
            margin-top: 50px;
        }
        object {
            width  : 25%;
            margin : auto;
            display: block;
            @media screen and (max-width: $ipad_mediaquery - 1) {
                width: 40%;
            }
        }
        @media screen and (max-width: $ipad_mediaquery - 1) {
            height: 390px;
        }
    }
    .banner_logo_ocre {
        height      : 20px;
        border-style: solid;
        border-width: 0 0 3px 0;
        width       : 13%;
        display     : inline-block;
        border-color: $ocre;
        margin-right: 3%;
        @media screen and (max-width: $ipad_mediaquery - 1) {
            height      : 108px;
            border-width: 0 0 5px 0;
        }
    }
    .golden {
        font-family   : Caslon;
        font-size     : 2.1rem;
        letter-spacing: 3px;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            font-size: 1.1rem;
        }
    }
    .golden_medium {
        font-family: Aspira;
        font-size  : 20pt;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            font-size: 1.5rem;
        }
    }
    .reacomodo {
        @media screen and (max-width: $ipad_mediaquery - 1) {
            margin-top: -24vw;
            position  : absolute;
        }
        @media screen and (max-width: 400px) {
            margin-top: -43vw;
            position  : absolute;
        }
    }
}
.ubicacion {
    width   : 100%;
    display : block;
    margin  : 0 0 70px;
    overflow: auto;
}
.msg-left {
    text-align: center;
}
p.italico {
    font-style: italic;
}
.contacto {
    width         : 98%;
    margin        : 10px auto;
    padding-bottom: 40px;
    font-family   : 'Aspira';
    display       : block;
    vertical-align: top;
    max-width: 1280px;
    margin-top    : 30px;
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
        padding-bottom: 30px;
    }
    ul {
        list-style-type: none;
        padding        : 0;
    }
    form {
        float : left;
        width : 94%;
        margin: 0 3%;
        @media screen and (min-width: 768px) {
            margin: 0 0 0 70px;
            width : 40%;
        }
    }
    input,
    textarea {
        background: $gris;
        height    : 50px;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            height: 40px;
        }
    }
    textarea {
        height: 250px;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            height: 137px;
        }
    }
    .contact-dropdown-services dt a {
        text-transform: uppercase;
    }
    .contact-dropdown-services dt a,
    input,
    textarea {
        width         : 100%;
        padding       : 10px;
        margin        : 10px 0;
        border-bottom : none;
        border-Top    : none;
        border-right  : none;
        box-sizing    : border-box;
        letter-spacing: 1px;
        font-family   : Aspira;
    }
    input[type=date] {
        width  : 25%;
        padding: 0;
    }
    input[type=number] {
        width       : 23%;
        float       : left;
        margin-right: 10px;
    }
    input[type=tel] {
        width       : 74%;
        float       : left;
        border-style: hidden;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            width: 73%;
        }
        @media screen and (max-width: $ipad_mediaquery - 1) {
            width: 72%;
        }
    }
    button {
        cursor    : pointer;
        padding   : 10px 20px;
        float     : right;
        border    : none;
        color     : white;
        text-align: center;
        height    : 50px;
        @media screen and (max-width: $ipad_mediaquery - 1) {
            height        : 56px;
            width         : 20%;
            letter-spacing: 2px;
            font-size     : 2.5vw;
        }
    }
    .label {
        background-color: #FFFFFF;
        font-size       : 0.8em;
        text-align      : center;
    }
    .sub-label {
        text-align: center;
        font-size : 0.6em;
    }
    li > span {
        font-size: 0.6em;
    }
    /*Estilo de placeholder*/
    ::-webkit-input-placeholder {
        color: white;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: white;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: white;
    }
    :-ms-input-placeholder {
        color: white;
    }
    *[placeholder],
    [placeholder],
    input[placeholder] {
        color       : white;
        word-spacing: 6px;
        font-weight : 100;
        font-size   : 1rem;
        font-family : Aspira;
        font-style  : normal;
        font-variant: normal;
        padding     : 20px;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            font-size: 0.6rem;
        }
    }
    [placeholder]:focus::-webkit-input-placeholder {
        transition: 0s;
        opacity   : 0;
    }
}
.contacto-fuente {
    font-family: 'Aspira';
    font-size  : 2rem;
    font-weight: 600;
}
footer {
    display         : block;
    width           : 100%;
    margin: auto;
    max-width: 1280px;
    .copyright {
        font-family   : Caslon;
        color         : #ffffff;
        font-size     : 1.5rem;
        font-weight   : 100;
        position      : absolute;
        left          : 20%;
        margin-top    : 50px;
        letter-spacing: 1.7px;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            margin-left: 30px;
            font-size  : 14pt;
            font-weight: 100;
            position   : absolute;
            left       : 26%;
            margin-top : 33px;
        }
        @media screen and (max-width: $ipad_mediaquery - 1) {
            margin-top: 22px;
        }
        @media screen and (min-width: $over_mediaquery) {
            left : 31%;
        }
        .font_change {
            font-family   : 'Aspira Light';
            font-size     : 12pt;
            letter-spacing: 2px;
            @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
                font-family: 'Aspira';
                font-size  : 10pt;
                font-weight: lighter;
            }
            @media screen and (max-width: $ipad_mediaquery - 1) {
                font-size  : 2.9vw;
                margin-left: 11%;
            }
        }
        .firma {
            @media screen and (max-width: $ipad_mediaquery - 1) {
                font-size  : 2.9vw;
                margin-left: 11%;
            }
        }
    }
}
.logo_footer {
    position   : relative;
    background : url("../images/Texturas/marmol_small.png");
    width      : 130px;
    margin-left: 70px;
    height     : 130px;
    text-align : center;
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
        width      : 112px;
        margin-left: 70px;
        height     : 105px;
    }
    @media screen and (max-width: $ipad_mediaquery - 1) {
        height     : 110px;
        width      : 15%;
        margin-left: 9%;
    }
    svg {
        width   : 40%;
        height  : auto;
        margin  : auto;
        position: relative;
        top     : 30%;
        @media screen and (min-width: 550px) {}
    }
}
#cerebro {
    fill-rule: evenodd;
    clip-rule: evenodd;
}
.payments {
    text-align : center;
    display    : inline-block;
    margin-top : 3%;
    margin-left: 4%;
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
        font-size  : 10pt;
        font-family: Aspira Regular;
    }
    @media screen and (max-width: $ipad_mediaquery - 1) {
        text-align    : center;
        margin-right  : 70px;
        margin-left   : 70px;
        letter-spacing: 1px;
    }
}
.logo_cc {
    float      : right;
    margin-top : -18px;
    margin-left: 210px;
    img {
        max-width : 100px;
        max-height: 50px;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            max-width: 60px;
        }
    }
    @media screen and (max-width: $ipad_mediaquery - 1) {
        margin-top : 18px;
        float      : none;
        margin-left: 0;
    }
}
.neurocirugia-button{
        background: rgba(150, 189, 14, 1);
}
.neurocirugia-border-item{
    border-left   : solid 5px rgba(150, 189, 14, 1);
}
.neurocirugia-texto{
    color: rgba(150, 189, 14, 1);
}
.neurocirugia-border-color{
    border-color:  rgba(150, 189, 14, 1);
}
.neurocirugia-cerebro-fill{
    svg{
        fill: $gris_centros;
    }
}
.neurocirugia-logo-footer{
    svg{
        fill    : rgba(150, 189, 14, 1);
    }
}
.neurocirugia-footer{
    background-color: rgba(150, 189, 14, 1);
}