.primera-parte{
	max-width: 1280px;
    margin: auto;
    width: 100%;
	.que-es{
		display: flex;
		position: relative;
	    background: url("../images/Texturas/marmol_small.png");
		.texto-que-es{
			float: left;
			width: 50%;
			.title{
				text-align: center;
				position: relative;
				font-family: Big Caslon Medium;
				font-size: 60pt;
				color: $gris_centros;
				margin-top: 50px;
    			margin-bottom: 100px;

				&:before{
						content: "";
					    position: absolute;
					    left : 135px;
					    top: 50%;
					    transform: translateY(-50%);
					    width: 7px;
					    height: 67%;
						background: rgba(150, 189, 14, 1);
						transition:ease 1s;
					}
				&:hover{
					&:before{
						left:80%;
					}
				}
			}
			.texto{
				display: block;
				font-family: Aspira;
				font-size: 16pt;
				margin-left: 70px;
				margin-right: 70px;
				line-height: 1.4;
				&:after{
					content: '';
				    display: block;
				    height: 3px;
				    width: 50px;
				    background: $gris_centros ;
				    margin-top: 30px;
				    margin-bottom: 50px;
				}
			}
		}
		.logo-drjr{
			        display: flex;
				    float: right;
				    background-color: #d9e583;
				    width: 50%;
				    text-align: center;
			    svg{
			    	width: 8%;
				    height: auto;
				    margin: auto;
				    fill: #9e8629;
				    position: relative;
				    top: 30%;
			    }
		}
	}
	.tumores{
			    display: flex;
   				position: relative;
   				padding-bottom: 40px; 				
   				img{
   					width: 35%;
				    bottom: 0;
				    position: absolute;
   				}
   				.pediatricos{
   					margin-left: 59%;
   					margin-top: 2%;
   					.title{
   						text-align: left;
						position: relative;
						font-family: Big Caslon Medium;
						font-size: 40pt;
						color: $gris_centros;
						margin-top: 50px;
						margin-bottom: 50px;
						&:before{
								content: "";
							    position: absolute;
							    left : -29px;
							    top: 50%;
							    transform: translateY(-50%);
							    width: 7px;
							    height: 82%;
								background: rgba(150, 189, 14, 1);
								transition:ease 1s;
							}
						&:hover{
							&:before{
								left:105%;
							}
						}
   					}
   					.texto{
   						font-size: 13pt;
					    font-family: Aspira Light;
					    left: -63px;
					    top: 19px;
					    position: relative;
   					}
   				}
		}
}
.cirugias{
	position: relative;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: block;
    OVERFLOW: auto;
	&:before{
			content: '';
		    display: block;
		    height: 3px;
		    width: 100%;
		    background: rgba(150, 189, 14, 1); ;
			}

	.left-cirugia{
		width: 50%;
		float: left;
		.title{
			text-align: center;
				position: relative;
				font-family: Big Caslon Medium;
				font-size: 60pt;
				color: $gris_centros;
				margin-top: 70px;
    			margin-bottom: 70px;

				&:before{
						content: "";
					    position: absolute;
					    left : 135px;
					    top: 50%;
					    transform: translateY(-50%);
					    width: 7px;
					    height: 67%;
						background: rgba(150, 189, 14, 1);
						transition:ease 1s;
					}
				&:hover{
					&:before{
						left:80%;
					}
				}
		}
		.ribbon{
			width: 100%;
		    height: 77px;
		    background: url("../images/neurocirugia/pattern.png");
		    background-repeat: repeat;
		    margin: 0;
		}
		.icon{
			img{
				display: block;
			    margin: auto;
			    margin-bottom: 70px;
			    margin-top: 70px;
			}
		}
		.title-background{
			background-color: rgba(217, 229, 131, 1);
			padding-bottom: 30px;
    		padding-top: 30px;
			.title-white{
			text-align: center;
				position: relative;
				font-family: Big Caslon Medium;
				font-size: 60pt;
				color: #FFFFFF;

				&:before{
						content: "";
					    position: absolute;
					    left : 135px;
					    top: 50%;
					    transform: translateY(-50%);
					    width: 7px;
					    height: 67%;
						background: #FFFFFF;
						transition:ease 1s;
					}
				&:hover{
					&:before{
						left:80%;
					}
				}
		}
		}
	}
	.right-cirugia{
		width: 50%;
		float: right;
		background-image: url("../images/neurocirugia/cirugias_neurocirugia_pediatrica.png");
		background-size: 100% 100%;
	    height: 757px;
	    display: flex;
	}
}
.contenido-cirugias{
	position: relative;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: block;
    overflow: auto;
    &:before{
			content: '';
		    display: block;
		    height: 3px;
		    width: 100%;
		    background: rgba(150, 189, 14, 1);
		    margin-right: 70px;
			}
	.cirugia-epilepsia{
		display: flex;
		padding-top: 10px;
    	padding-bottom: 10px;
    	width: 100%;
    	max-width: 1280px;
		.titulo-epilepsia{
			margin: auto;
    		margin-left: 9%;
			font-family: Aspira Light;
			font-size: 35pt;
			letter-spacing: 1px;	
			width: 50%;
			color: #5E5E5E;
			&:before{
						content: "";
					    position: absolute;
					    left: 86px;
					    top: 16%;
					    transform: translateY(-50%);
					    width: 7px;
					    height: 12%;
						background: rgba(150, 189, 14, 1);
						transition:ease 1s;
					}
				&:hover{
					&:before{
						left:30%;
					}
				}
			.bold{
					font-family: Aspira;
				}
			img{
				position: absolute;
			    top: 100px;
			    left: 450px;
			}
		}
		.contenido-epilepsia{
			width: 50%;
			float: right;
			font-size: 14pt;
			font-family: Aspira Light;
			line-height: 1.3;
		}
	}
	.cirugia-neuropediatrica{
		width: 100%;
		max-width: 1280px;
		position: relative;
		.header-neuropediatrica{
			.titulo-neuropediatrica{
				margin: auto;
	    		float: right;
			    text-align: right;
			    margin-right: 90px;
			    margin-top: 60px;
				font-family: Aspira Light;
				font-size: 35pt;
				letter-spacing: 1px;	
				width: 50%;
				color: #5E5E5E;
				&:before{
							content: "";
						    position: absolute;
						    right: 70px;
						    top: 21%;
						    transform: translateY(-50%);
						    width: 7px;
						    height: 16%;
							background: rgba(150, 189, 14, 1);
							transition:ease 1s;
						}
					&:hover{
						&:before{
							right:40%;
						}
					}
				img{
					position: absolute;
				    right: 620px;
				    top: 90px;
				}
				.bold{
					font-family: Aspira;
				}

			}
		}
		.contenido-neuropediatrica{
			position: relative;
			background: url("../images/Texturas/marmol_small.png");
			display: flex;
			.ul-left{
				float: left;
			}
			.ul-right{
				float: right;
			}
			.ul-left,
			.ul-right{
				letter-spacing: -.6px;
				font-size: 15pt;
				font-family: Aspira Regular;
				margin-top: 50px;
				margin-bottom: 50px;
				padding-left: 70px;
    			padding-right: 90px;
    			li{
    				margin-bottom: 2px;
    			}
			}
		}
	}
}
.contacto-50{
	width: 100%;
	max-width: 1280px;
	margin : auto;
.title-background-50{
			width: 50%;
			max-width: 1280px;
			background-color: rgba(217, 229, 131, 1);
			padding-bottom: 30px;
    		padding-top: 30px;
			.title-white{
			text-align: center;
				position: relative;
				font-family: Big Caslon Medium;
				font-size: 60pt;
				color: #FFFFFF;

				&:before{
						content: "";
					    position: absolute;
					    left : 135px;
					    top: 50%;
					    transform: translateY(-50%);
					    width: 7px;
					    height: 67%;
						background: #FFFFFF;
						transition:ease 1s;
					}
				&:hover{
					&:before{
						left:80%;
					}
				}
		}
		}
	}