$color_centro     : rgba(210, 144, 50, 1);
$color_centro_2   : rgba(243, 110, 9, 1);
$gris_claro       : rgba(218, 241, 254, 1);
$gris_oscuro  	  : rgba(152, 153, 155, 1);
$negro  		  : rgba(64, 63, 65, 1);

$max_mediaquery   : 1150px;
$ipad_mediaquery  : 769px;
$mobile_mediaquery: 321px;