$gris_centros         : rgba(152, 153, 155, 1);
$negro_centros        : rgba(64, 63, 65, 1);
$ocre                 : #9e8629;
$gris                 : #3e3d3f;

$mobile_mediaquery    : 321px;
$max_mobile_mediaquery: 360px;
$ipad_mediaquery      : 769px;
$max_ipad_mediaquery  : 800px;
$max_mediaquery       : 1150px;
$max_width			  : 1280px;
$over_mediaquery 	  : 1920px;