.contenido_vascular {
	background-color   : white;
    margin             : auto;
    width              : 100%;
    max-width          : 1280px;
    #contenido_up {
    	#que_es {
	        width: 100%;
		    display: -webkit-flex;
		    display: flex;
		    background-image: url("../images/texturas/marmol_small.png");
		    background-position: center center;
    		#parrafo {
    			width: 50%;
		    	padding-bottom: 180px;
			    #titulo {
    				margin: 0;
    				p {
    					margin: 40px 0 50px 0;
    				}
    				&:before {
    					height: 80%;
    					top: 60%;
    				}
    			}
    			#texto {
				    display: none;
				    margin: -30px 30px 40px 70px;
				    font-weight: 300;
				    font-style: italic;
				    font-size: 1.45rem;
    			}
    		}
    		#pattern_logo {
    			width: 50%;
    			height: inherit;
    			#pattern {
    				width: 100%;
    				height: 20%;
    				background       : url('../images/pattern.png');
    				background-repeat: repeat;
    			}
    			#svg_logo {
				    display: flex;
				    height: 80%;
    				svg {
					    margin: auto;
    					width: 15%;
    					fill: rgba(255, 255, 255, 1);
    				}
    			}
    		}
    	}
    }

	.imagen_procedimiento_header {
        width           : 100%;
        max-width       : 1280px;
        height          : 100%;
        text-align      : left;
        margin: -200px 0 0 0;
        .titulo_cirugias {
        	width: 60%;
        	vertical-align: bottom;
        	&:before {
        		top: 54%;
        		height: 60%;
    		    left: 170px;
        	}
        	&:hover { &:before { left: 75%; }}
        }
        .imagen {
        	width: 39%;
        }
        div {
            display       : inline-block;
            height        : 100%;
            margin: 0;
            p { margin: 0;}
        }
        img {
            vertical-align: middle;
        }
	}
    #cirugias_hidden {
    	display: none;
    	border-top : 6px solid $color-vascular-rojo;
	    .contenido_cirugias {
	    	display: flex;
	    	position: relative;
	    	width: 100%;
			padding: 35px 0 35px 0;
			#que_es_vascular {
				width: 55%;
			}
			#descripcion_vascular {
				width: 44%;
			}
			#isotipo_cirugias {
				float: left;
			    margin: auto;
			    text-align: center;
			    width: 49%;
			    height: 100%;
			    img {
				    vertical-align: middle;
			    }
			}
			.descripcion_cirugias {
			    float: left;
			    width: 49%;
				ul {
					margin: 0;
					font-weight: 400;
					font-style : normal;
					font-size: 1.6rem;
				}
			}
			.descripcion_cirugias_right {
			    float: right; 
			}
	    }
	    #contenido_imagen_header {
	    	background-color: $color-vascular-rojo;
	    	color 			: white;
	    	padding-bottom	: 0;
	    	#nervioso-central {
				margin: auto;
	    	}
	    	div.imagen {
	    		margin-bottom: -5px;
	    	} 
	    }
	}
	#contenido_down {
		border-top: 6px solid $color-vascular-rojo;
		width: 100%;
		height: 473px;
		#contenido_contacto {
			float: left;
		    width: 50%;
		    margin: 260px 0 0 0;
			p {
				margin: 45px 0 45px 0;
			}
		}
		#imagen_procedimiento {
			float: right;
		    width: 50%;
		    height: 100%;
			background-image: url("../images/vascular/cirugias_vascular.png");
		    background-position: center center;
		    background-size    : cover;
		}
	}
}

.title_vascular{
	p.italic {
		display: inline-block;
	    margin-left: 100px;
	    text-align: left;
	    font-family: Aspira;
		font-size: 3.8rem;
		font-weight: 300;
		font-style : italic;
	}
	img {
		margin-left: 30px;		
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
	span {
		color: rgba(94, 94, 94, 1);
		font-weight: 700;
	}
	&:before{
			background: $color-vascular-rojo;
	}
	&:hover{
		&:before{
			left: 95%;
		}
	}
}