@import "vars";
@import "colores";
@import "cefaleas";
@import "vascular";
@import "contacto";
@import "fonts";
@import "grid-system";
@import "navbar";
@import "hero_banner";
@import "mapa";
@import "neurocirugia";
@import "que-es-columna";
html, body {
	font-family: Aspira;
	font-size: 16px;
	height: 100%;
	color: #403F41;
}
*{
	box-sizing: border-box;
}
body {
	margin: 0;
  overflow-x: hidden;
}
a {
    text-decoration: none;
    color          : $gris_centros;
    //Color de fuente
    &:hover {
        font-weight: bold;
    }
    &.link_cefaleas:hover {
        color: $color-cefaleas-amarillo;
    }
    &.link_columna:hover {
        color: $color-columna-azul;
    }
    &.link_neurocirugia:hover {
        color: $color-neurocirugia-verde;
    }
    &.link_neuroncologia:hover {
        color: $color-neuroncologia-azul;
    }
    &.link_vascular:hover {
        color: $color-vascular-rojo;
    }
}
.no-select { //Disables text selection
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version */
}