@import "vars";
@import "colores";
@import "hero_banner";
@import "contacto";
@import "mapa";
@import "fonts";
@import "que-es-columna";
@import "neurocirugia";
@import "grid-system";
@import "navbar";
html, body {
	font-size: 16px;
	height: 100%;
	color: #403F41;
}
*{
	box-sizing: border-box;
}
body {
	margin: 0;
}
